/* 640×960
 Apple iPhone 4/4S
 */
@media screen and (max-width:642px) and (max-height:962px) and (min-width:638px) and (min-height:958px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        margin-bottom: 60px;
        font-size: 35px;
    }

    .custom-player {
        width: 300px;
        height: 300px;
        border: 3px solid white;
        border-radius: 150px;
    }

    .custom-player .volume {
        bottom: 8%;
    }

    .widget {
        margin: 60px auto 0;
        font-size: 4em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 640×1136
 Apple iPhone 5
 Apple iPhone 5C/5S
 */
@media screen and (max-width:642px) and (max-height:1138px) and (min-width:638px) and (min-height:1134px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        margin-bottom: 60px;
        font-size: 40px;
    }

    .custom-player {
        width: 400px;
        height: 400px;
        border: 4px solid white;
        border-radius: 200px;
    }

    .custom-player .volume {
        bottom: 10%;
    }

    .widget {
        margin: 60px auto 0;
        font-size: 6em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 1334×750
 Apple iPhone 6
 Apple iPhone 6S
 Apple iPhone 7
 */
@media screen and (max-width:1336px) and (max-height:752px) and (min-width:1332px) and (min-height:748px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        margin-bottom: 60px;
        font-size: 40px;
    }

    .custom-player {
        width: 300px;
        height: 300px;
        border: 4px solid white;
        border-radius: 150px;
    }

    .custom-player .volume {
        bottom: 8%;
    }

    .widget {
        margin: 60px auto 0;
        font-size: 6em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 1920×1080
 Apple iPhone 6 Plus
 Apple iPhone 6S Plus
 Apple iPhone 7 Plus
 Huawei Honor 5X, Huawei Honor 7
 Lenovo Vibe Shot
 Meizu M2 Note 16Gb
 Samsung Galaxy A5 2016
 */
@media screen and (max-width:1922px) and (max-height:1082px) and (min-width:1918px) and (min-height:1078px) {
    h1 {
        font-size: 65px;
    }

    h2 {
        margin-bottom: 60px;
        font-size: 40px;
    }

    .custom-player {
        width: 450px;
        height: 450px;
        border: 4px solid white;
        border-radius: 225px;
    }

    .custom-player .volume {
        bottom: 10%;
    }

    .widget {
        margin: 60px auto 0;
        font-size: 7em;
    }

    .widget > div {
        margin: 0 30px;
    }
}

/* 1136×640
 Apple iPhone SE
 */
@media screen and (max-width:1138px) and (max-height:642px) and (min-width:1134px) and (min-height:638px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        margin-bottom: 30px;
        font-size: 25px;
    }

    .custom-player {
        width: 300px;
        height: 300px;
        border: 4px solid white;
        border-radius: 150px;
    }

    .custom-player .volume {
        bottom: 9%;
    }

    .widget {
        margin: 30px auto 0;
        font-size: 3em;
    }

    .widget > div {
        margin: 0 30px;
    }
}

/* 1280×720
 ASUS Zenfone 2 Lazer ZE500KL
 Lenovo P70
 Lenovo S60
 Samsung Galaxy A5
 ASUS Zenfone 2 Lazer ZE500KL
 */
@media screen and (max-width:1282px) and (max-height:722px) and (min-width:1278px) and (min-height:718px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 40px;
    }

    .custom-player {
        width: 300px;
        height: 300px;
        border: 4px solid white;
        border-radius: 150px;
    }

    .custom-player .volume {
        bottom: 9%;
    }

    .widget {
        margin: 50px auto 0;
        font-size: 5em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 640×480
 BlackBerry Bold 9900
 */
@media screen and (max-width:642px) and (max-height:482px) and (min-width:638px) and (min-height:478px) {
    .content {
        min-height: 480px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .custom-player {
        width: 250px;
        height: 250px;
        border: 2px solid white;
        border-radius: 125px;
    }

    .custom-player .volume {
        bottom: 6%;
    }

    .widget {
        margin: 20px auto 0;
        font-size: 3em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 768×1280
 BlackBerry Z10
 LG Nexus 4 16Gb
 LG Optimus G
 Nokia Lumia 920
 Nokia Lumia 925
 */
@media screen and (max-width:770px) and (max-height:1282px) and (min-width:766px) and (min-height:1278px) {
    h1 {
        font-size: 65px;
    }

    h2 {
        margin-bottom: 100px;
        font-size: 45px;
    }

    .custom-player {
        width: 500px;
        height: 500px;
        border: 4px solid white;
        border-radius: 250px;
    }

    .custom-player .volume {
        bottom: 11%;
    }

    .widget {
        margin: 100px auto 0;
        font-size: 7em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 720×1280
 Fly IQ451 Vista
 HTC One X
 HTC One X+
 HTC Windows Phone 8x
 Huawei Ascend G630
 LG Optimus 4X HD
 Samsung Ativ S 16Gb GT-I8750
 Samsung Galaxy Mega 6.3 8Gb GT-I9200
 Samsung Galaxy Nexus GT-I9250
 Samsung Galaxy Note II GT-N7100
 Samsung Galaxy S III GT-I9300 16Gb
 Sony Xperia acro S
 Sony Xperia ion
 Sony Xperia S
 Sony Xperia SP
 Sony Xperia TX
 Sony Xperia V
 Sony Xperia Z1 Compact
 Sony Xperia ZR LTE (C5503)
 YotaPhone - цвет.
 */
@media screen and (max-width:722px) and (max-height:1282px) and (min-width:718px) and (min-height:1278px) {
    h1 {
        font-size: 65px;
    }

    h2 {
        margin-bottom: 100px;
        font-size: 45px;
    }

    .custom-player {
        width: 500px;
        height: 500px;
        border: 4px solid white;
        border-radius: 250px;
    }

    .custom-player .volume {
        bottom: 12%;
    }

    .widget {
        margin: 100px auto 0;
        font-size: 7em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 540×960
 HTC Desire 600
 HTC One S
 Lenovo IdeaPhone P770
 Lenovo IdeaPhone S720
 LG Optimus L9
 Philips Xenium W832
 Samsung Galaxy Mega 5.8 GT-I9152
 Samsung Galaxy S4 mini GT-I9190
 Samsung Galaxy S4 mini GT-I9195
 Samsung Galaxy S4 Zoom SM-C101
 Sony Xperia P
 */
@media screen and (max-width:542px) and (max-height:962px) and (min-width:538px) and (min-height:958px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        margin-bottom: 60px;
        font-size: 40px;
    }

    .custom-player {
        width: 400px;
        height: 400px;
        border: 4px solid white;
        border-radius: 200px;
    }

    .custom-player .volume {
        bottom: 10%;
    }

    .widget {
        margin: 60px auto 0;
        font-size: 6em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 320×480
 HTC Desire C
 LG Optimus L5
 Samsung Galaxy Ace Duos GT-S6802
 Samsung Galaxy Ace GT-S5830
 Sony Xperia E dual
 Sony Xperia go
 Sony Xperia miro
 Sony Xperia tipo
 */
@media screen and (max-width:322px) and (max-height:482px) and (min-width:318px) and (min-height:478px) {
    .content {
        min-height: 480px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .custom-player {
        width: 200px;
        height: 200px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .custom-player .volume {
        bottom: 5%;
    }

    .widget {
        margin: 30px auto 0;
        font-size: 2em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 480×800
 HTC Desire SV
 HTC Desire V
 HTC Desire X
 HTC One SV
 HTC Windows Phone 8s
 LG Optimus L5 II Dual E455
 LG Optimus L7 II Dual P715
 LG Optimus L7 P705
 Nokia Lumia 520
 Nokia Lumia 620
 Nokia Lumia 720
 Nokia Lumia 800
 Nokia Lumia 820
 Nokia X Dual Sim
 Philips Xenium W732
 Samsung Galaxy Ace II GT-I8160
 Samsung Galaxy Grand GT-I9082
 Samsung Galaxy S Duos GT-S7562
 Samsung Galaxy S II GT-I9100
 Samsung Galaxy S II Plus GT-I9105
 Samsung Galaxy S III mini GT-I8190
 Samsung Galaxy Win GT-I8552
 */
@media screen and (max-width:482px) and (max-height:802px) and (min-width:478px) and (min-height:798px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 30px;
    }

    .custom-player {
        width: 350px;
        height: 350px;
        border: 4px solid white;
        border-radius: 175px;
    }

    .custom-player .volume {
        bottom: 10%;
    }

    .widget {
        margin: 60px auto 0;
        font-size: 4em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 1080×1920
 HTC One
 HTC One 32Gb
 Huawei Honor 6
 Jiayu G6 Advanced
 Lenovo K900
 LG G2 D802
 LG Nexus 5
 LG Optimus G Pro E988
 Samsung Galaxy S4 GT-I9500
 Samsung Galaxy S4 GT-I9505
 Samsung Galaxy S5
 Sony Xperia Z
 Sony Xperia Z1
 Sony Xperia Z2
 Sony Xperia ZL
 */
@media screen and (max-width:1082px) and (max-height:1922px) and (min-width:1079px) and (min-height:1918px) {
    h1 {
        font-size: 90px;
    }

    h2 {
        margin-bottom: 100px;
        font-size: 80px;
    }

    .custom-player {
        width: 600px;
        height: 600px;
        border: 4px solid white;
        border-radius: 300px;
    }

    .custom-player .volume {
        bottom: 10%;
    }

    .widget {
        margin: 100px auto 0;
        font-size: 10em;
    }

    .widget > div {
        margin: 0 30px;
    }
}

/* 360×640
 Nokia 808 PureView
 YotaPhone - чб
 */
@media screen and (max-width:362px) and (max-height:642px) and (min-width:358px) and (min-height:638px) {
    .content {
        min-height: 480px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        margin-bottom: 40px;
        font-size: 20px;
    }

    .custom-player {
        width: 300px;
        height: 300px;
        border: 2px solid white;
        border-radius: 150px;
    }

    .custom-player .volume {
        bottom: 5%;
    }

    .widget {
        margin: 40px auto 0;
        font-size: 3em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 240×400
 Nokia Asha 311
 */
@media screen and (max-width:242px) and (max-height:402px) and (min-width:238px) and (min-height:398px) {
    .content {
        min-width: 240px;
        min-height: 400px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .custom-player {
        width: 200px;
        height: 200px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .custom-player .volume {
        bottom: 5%;
    }

    .widget {
        margin: 10px auto 0;
        font-size: 1em;
    }

    .widget > div {
        margin: 0 20px;
    }
}

/* 800×1280
 Samsung Galaxy Note GT-N7000
 */
@media screen and (max-width:802px) and (max-height:1282px) and (min-width:798px) and (min-height:1278px) {
    h1 {
        font-size: 65px;
    }

    h2 {
        margin-bottom: 100px;
        font-size: 45px;
    }

    .custom-player {
        width: 500px;
        height: 500px;
        border: 4px solid white;
        border-radius: 250px;
    }

    .custom-player .volume {
        bottom: 12%;
    }

    .widget {
        margin: 100px auto 0;
        font-size: 7em;
    }

    .widget > div {
        margin: 0 20px;
    }
}


/* 2560×1440
 Samsung Galaxy S6 SM-G920F
 */
@media screen and (max-width:2562px) and (max-height:1442px) and (min-width:2558px) and (min-height:1438px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        margin-bottom: 100px;
        font-size: 60px;
    }

    .custom-player {
        width: 450px;
        height: 450px;
        border: 4px solid white;
        border-radius: 225px;
    }

    .custom-player .volume {
        bottom: 10%;
    }

    .widget {
        margin: 100px auto 0;
        font-size: 8em;
    }

    .widget > div {
        margin: 0 30px;
    }
}

/* 240×320
 Samsung Galaxy Y Duos GT-S6102
 Samsung Galaxy Y GT-S5360
 */
@media screen and (max-width:242px) and (max-height:322px) and (min-width:238px) and (min-height:318px) {
    .content {
        min-width: 240px;
        min-height: 320px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .custom-player {
        width: 180px;
        height: 180px;
        border: 2px solid white;
        border-radius: 90px;
    }

    .custom-player .volume {
        bottom: 5%;
    }

    .widget {
        margin: 10px auto 0;
        padding: 0;
        font-size: 1em;
    }

    .widget > div {
        margin: 0 15px;
        padding: 5px;
    }
}




/* 480×854
 Sony Xperia J
 Sony Xperia L
 Sony Xperia sola
 */
@media screen and (max-width:482px) and (max-height:856px) and (min-width:478px) and (min-height:852px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 30px;
    }

    .custom-player {
        width: 350px;
        height: 350px;
        border: 4px solid white;
        border-radius: 175px;
    }

    .custom-player .volume {
        bottom: 10%;
    }

    .widget {
        margin: 60px auto 0;
        font-size: 4em;
    }

    .widget > div {
        margin: 0 22px;
    }
}